<h1> Edit <%= @post.title %> </h1>

<%= flash[:errors] %>

<form action="<%= post_url(@post) %>" method="POST">

  <%= hidden_method_input("PATCH") %>
  <%= auth_token %>


  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <label>Url
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <label>Content
    <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>


  <% @subs.each do |sub| %>
    <label><%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>">
    </label>
  <% end %>
  <input type="hidden" name="post[sub_ids][]" value="">

  <p></p>

  <button>Edit Post</button>
</form>
